/Slot4_Bai5/nbproject/private/
/Slot4_Bai5/build/
/Team5_HE172214_Assignment/nbproject/private/
/Team5_HE172214_Assignment/build/
/Team5_HE172214_Assignment/dist/
/Slot5/nbproject/private/
/Slot5/build/
/Slot5/dist/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q1_HE172214/nbproject/private/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q1_HE172214/build/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q2_HE172214/nbproject/private/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q2_HE172214/build/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q3_HE172214/nbproject/private/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q3_HE172214/build/
/Slot9_Ex1/nbproject/private/
/Slot9_Ex1/build/
/Slot9_Ex2/nbproject/private/
/Slot9_Ex2/build/
/Slot9_Ex3/nbproject/private/
/Slot9_Ex3/build/
/Slot8_Ex1/nbproject/private/
/Slot8_Ex2/nbproject/private/
/Slot8_Ex3/nbproject/private/
/Slot8_Ex3/build/
