/Slot4_Bai5/nbproject/private/
/Slot4_Bai5/build/
/Team5_HE172214_Assignment/nbproject/private/
/Team5_HE172214_Assignment/build/
/Team5_HE172214_Assignment/dist/
/Slot5/nbproject/private/
/Slot5/build/
/Slot5/dist/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q1_HE172214/nbproject/private/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q1_HE172214/build/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q2_HE172214/nbproject/private/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q2_HE172214/build/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q3_HE172214/nbproject/private/
/PE/TrialPE_PRJ301_Fall2024/Given/given/Q3_HE172214/build/
/Slot9_Ex1/nbproject/private/
/Slot9_Ex1/build/
/Slot9_Ex2/nbproject/private/
/Slot9_Ex2/build/
/Slot9_Ex3/nbproject/private/
/Slot9_Ex3/build/
/Slot8_Ex1/nbproject/private/
/Slot8_Ex2/nbproject/private/
/Slot8_Ex3/nbproject/private/
/Slot8_Ex3/build/
/Slot10/nbproject/private/
/Slot10/build/
/Slot10_handed/nbproject/private/
/Slot10_handed/build/
/Slot10_handed/dist/
/10_HoangCongThanh_W1_Q1/nbproject/private/
/10_HoangCongThanh_W1_Q2/nbproject/private/
/10_HoangCongThanh_W1_Q1/build/
/10_HoangCongThanh_W1_Q2/build/
/SessionAndAuthentication/nbproject/private/
/SessionAndAuthentication/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/HE172214_Assignment/nbproject/private/
/HE172214_Assignment/build/
/HE172214_Assignment/dist/
/FIlterDemo/nbproject/private/
/FIlterDemo/build/
/FilterProject/nbproject/private/
/FilterProject/build/
/FIlterDemo/dist/
/FilterDemo1/nbproject/private/
/FilterDemo1/build/
/FilterDemo1/dist/
/Q1_HE172214_SU24/nbproject/private/
/Q1_HE172214_SU24/build/
/Slot18/nbproject/private/
/Slot18/build/
