/Slot4_Bai5/nbproject/private/
/Slot4_Bai5/build/
/Team5_HE172214_Assignment/nbproject/private/
/Team5_HE172214_Assignment/build/
/Team5_HE172214_Assignment/dist/
/Slot5/nbproject/private/
/Slot5/build/
/Slot5/dist/
